@model EMSuite.ViewModels.SamlConfigurationsViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>SamlConfiguration</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Id" class="control-label"></label>
                <input asp-for="@Model.Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="@Model.Name" class="control-label"></label>
                <input asp-for="@Model.Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.SingleSignOnServiceUrl" class="control-label"></label>
                <input asp-for="@Model.SingleSignOnServiceUrl" class="form-control" />
                @*<select asp-for="SingleSignOnServiceUrl" class="form-control"></select> @*asp-items="ViewBag.LocalIdentityProviderConfigurationId"></select>*@
                <span asp-validation-for="@Model.SingleSignOnServiceUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.SingleLogoutServiceUrl" class="control-label"></label>
                <input asp-for="@Model.SingleLogoutServiceUrl" class="form-control" />
                @*<select asp-for="SingleLogoutServiceUrl" class="form-control"></select> @*asp-items="ViewBag.LocalServiceProviderConfigurationId"></select>*@
                <span asp-validation-for="@Model.SingleLogoutServiceUrl" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="exampleFormControlFile1">Certificate</label>
                <div class="col-md-10">
                    <input type="file" asp-for="@Model.FileName" class="form-control-file" id="fileName">
                    <small id="fileName" class="form-text text-muted">Import certificate.</small>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
